<a href="https://colab.research.google.com/github/zzessul/python/blob/main/%EC%BB%B4%ED%94%84_Chapter6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LAB 6-1-(2)
fruits_dic = {'apple' : 5000, 'banana' : 4000, 'grape' : 5300, 'melon' : 6500}

for name in fruits_dic:
  print(f'{name}의 가격은 {fruits_dic[name]}원입니다.')

apple의 가격은 5000원입니다.
banana의 가격은 4000원입니다.
grape의 가격은 5300원입니다.
melon의 가격은 6500원입니다.

In [ ]:
#LAB 6-2
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}

person['특기'] = '분신술'
print(person)

person['아버지'] = '홍판서'
print(person)

del person['나이']
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}
{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}
{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [ ]:
#LAB 6-3-(1)
capital_dic = {'Korea' : 'Seoul', 'China' : 'Beijing', 'USA' : 'Washington DC'}

print('Korea' in capital_dic)
print('China' in capital_dic)
print('Indonesia' in capital_dic)
print('Beijing' in capital_dic)

True
True
False
False

In [ ]:
#LAB 6-4
fruits_dic = {'apple' : 6000, 'melon' : 3000, 'banana' : 5000, 'orange' : 7000}

print(fruits_dic.keys())
print(fruits_dic.values())
print(fruits_dic.pop('apple'))
print(fruits_dic.clear())

dict_keys(['apple', 'melon', 'banana', 'orange'])
dict_values([6000, 3000, 5000, 7000])
6000
None

In [ ]:
#LAB 6-5-(1)
fruits_dic = {'apple' : 6000, 'melon' : 3000, 'banana' : 5000, 'orange' : 4000}

lst = []
for fruits in fruits_dic:
  lst.append(fruits)

print(lst)

['apple', 'melon', 'banana', 'orange']

In [ ]:
#LAB 6-5-(2)
fruits_dic = {'apple' : 6000, 'melon' : 3000, 'banana' : 5000, 'orange' : 4000}

lst = []
for value in fruits_dic.values():
  lst.append(value)

print(lst)

[6000, 3000, 5000, 4000]

In [ ]:
#LAB 6-5-(3)
fruits_dic = {'apple' : 6000, 'melon' : 3000, 'banana' : 5000, 'orange' : 4000}

print(f'fruits_dic 딕셔너리 항목의 개수 : {len(fruits_dic)}')

fruits_dic 딕셔너리 항목의 개수 : 4

In [ ]:
#LAB 6-5-(4)
fruits_dic = {'apple' : 6000, 'melon' : 3000, 'banana' : 5000, 'orange' : 4000}

if 'apple' in fruits_dic:
  print('apple is in fruits_dic.')
else:
  print('apple is not in fruits_dic.')

if 'mango' in fruits_dic:
  print('mango is in fruits_dic.')
else:
  print('mango is not in fruits_dic.')

apple is in fruits_dic.
mango is not in fruits_dic.

In [ ]:
#LAB 6-6-(1)
the_day = (1919, 3, 1)
year, month, day = the_day
print(f'{year}년 {month}월 {day}일은 삼일절입니다.')

1919년 3월 1일은 삼일절입니다.

In [ ]:
#LAB 6-6-(2)
a, b, c = (10, 20, 30)
c, b, a = a, b, c
print(f'a = {a}\nb = {b}\nc = {c}')

a = 30
b = 20
c = 10

In [ ]:
#LAB 6-7
t_person = ('홍길동', 2019001, 179)
f_person = list(t_person)
f_person[1] = 2020003
t_person = tuple(f_person)
print('학번 변동 후 person =', t_person)

학번 변동 후 person = ('홍길동', 2020003, 179)

In [ ]:
#LAB 6-8-(1)
def square(a):
  a = a ** 2
  return a

x = int(input())
y = int(input())
x_sq = square(x)
y_sq = square(y)
print(f"{x} 제곱 = {x_sq}, {y} 제곱 = {y_sq}")

10
20
10 제곱 = 100, 20 제곱 = 400

In [ ]:
#LAB 6-8-(2)
(10, 20, 30) + (40, 50, 60)

(10, 20, 30, 40, 50, 60)

In [ ]:
#LAB 6-8-(3)
print('Hello ' * 3)
print(('Hello ',) * 3)

Hello Hello Hello
('Hello ', 'Hello ', 'Hello ')

In [ ]:
#LAB 6-9-(1)
lst = ['apple', 'mango', 'banana']
s1 = set(lst)
print(f"lst = {lst}")
print(f"s1 = {s1}")

lst = ['apple', 'mango', 'banana']
s1 = {'banana', 'apple', 'mango'}

In [ ]:
#LAB 6-9-(2)
greet = 'Good afternoon'
s2 = set(greet)
print("greet = 'Good afternoon'")
print(f"s2 = {s2}")

greet = 'Good afternoon'
s2 = {'r', 'G', 'o', 'f', 'e', 'n', 'd', 'a', 't', ' '}

In [ ]:
#LAB 6-10
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}

print(s1 | s2)
print(s1 & s2)
print(s1 - s2)
print(s1 ^ s2)
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.isdisjoint(s2))

{70, 40, 10, 50, 20, 60, 30}
{40, 30}
{10, 20}
{50, 20, 70, 10, 60}
False
False
False

In [ ]:
#연습문제 6.3
menu = {'Americano' : '3,000', 'Ice Americano' : '3,500', 'Cappuccino' : '4,000', 'Caffe Latte' : '4,500', 'Espresso' : '3,600'}

for key in menu:
  print(f"{key:15s} 가격 : {menu[key]}원")

drink = input("위의 메뉴 중 하나를 선택하세요: ")
if drink in menu:
  print(f"{drink}는 {menu[drink]}원 입니다. 결제를 부탁합니다.")
else:
  print(f"미안합니다. {drink}는 메뉴에 없습니다.")

Americano       가격 : 3,000원
Ice Americano   가격 : 3,500원
Cappuccino      가격 : 4,000원
Caffe Latte     가격 : 4,500원
Espresso        가격 : 3,600원
위의 메뉴 중 하나를 선택하세요: Pan Cake
미안합니다. Pan Cake는 메뉴에 없습니다.

In [ ]:
#연습문제 6.5
t = (10, 20, 30, 40, 50, 60)
print(t[0])
print(t[0:2])
print(t[1:])
print(t[:3])
print(t[1::2])
print(t[::-1])

10
(10, 20)
(20, 30, 40, 50, 60)
(10, 20, 30)
(20, 40, 60)
(60, 50, 40, 30, 20, 10)

In [ ]:
#연습문제 6.6
t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = ('d', 'e')

[x + y for x in t1 for y in t3]

['ad', 'ae', 'bd', 'be', 'cd', 'ce']

In [ ]:
#연습문제 6.7
sales = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
count = 0

for i in range(0, 9):
  if sales[i] > sales[i+1]:
    count += 1

print(f"지난 10일 동안 전일대비 매출이 감소한 날은 {count}일입니다.")

지난 10일 동안 전일대비 매출이 감소한 날은 3일입니다.

In [ ]:
#연습문제 6.8
t = (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
s1 = set()
s2 = set()

for num in t:
  if num not in s1:
    s1.add(num)
  else:
    s2.add(num)

print(f"주어진 튜플은: {t}")
print(f"중복 원소는: {s2}")

주어진 튜플은: (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
중복 원소는: {1, 2, 4, 9}

In [ ]:
#연습문제 6.9
t = (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
s1 = set()

for i in t:
  if i not in s:
    s.add(i)

s2 = tuple(s1)

print(f"주어진 튜플: ")