<a href="https://colab.research.google.com/github/zzessul/python/blob/main/%EC%BB%B4%ED%94%84_Chapter3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
game_score = int(input("game_score ="))

if game_score >= 1000:
  print("당신은 고수입니다")

game_score =1300
당신은 고수입니다

In [ ]:
num_a = 300
num_b = 300

print("num_a = 300, num_b = 300")

if num_a == num_b:
  print("두 값이 일치합니다.")

num_a = 300, num_b = 300
두 값이 일치합니다.

In [ ]:
n = int(input("정수를 입력하세요 :"))

if -100 <= n <= 100:
  print("x =", n)
  if n > 0:
    print(n, "은(는) 자연수입니다.")
else:
  None

정수를 입력하세요 :-10
x = -10

In [ ]:
game_score = int(input("게임점수를 입력하시오 :"))

print("game_score =", game_score)
if game_score >= 1000:
  print("고수입니다.")
else:
  print("입문자입니다.")

게임점수를 입력하시오 :1300
game_score = 1300
고수입니다.

In [ ]:
num_a = int(input("한 정수를 입력하시오 :"))
num_b = int(input("다른 정수를 입력하시오 :"))

if num_a == num_b:
  print("두 값이 일치합니다.")
else:
  print("두 값이 일치하지 않습니다.")

한 정수를 입력하시오 :300
다른 정수를 입력하시오 :300
두 값이 일치합니다.

In [ ]:
a = int(input("당신은 성인인가요(성인이면 1, 미성년이면 0):"))

if a == 1:
  b = int(input("결혼을 하셨나요(기혼이면 1, 미혼이면 0):"))
  if b == 1:
    print("당신은 결혼한 성인입니다.")
  else:
    print("당신은 결혼하지 않은 성인입니다.")
else:
  print("당신은 미성년자입니다.")

당신은 성인인가요(성인이면 1, 미성년이면 0):1
결혼을 하셨나요(기혼이면 1, 미혼이면 0):0
당신은 결혼하지 않은 성인입니다.

In [ ]:
num = int(input("num = "))

if 1 <= num and num <= 10:
  print(True)

num = 2
True

In [ ]:
age = int(input("age = "))

if 10 < age and age < 19:
  print("청소년입니다.")

age = 12
청소년입니다.

In [ ]:
speed = int(input("자동차의 속도를 입력하세요(단위 : km/h ): "))

if speed >= 100:
  print('고속')
elif speed >= 60:
  print('중속')
else:
  print('저속')

자동차의 속도를 입력하세요(단위 : km/h ): 130
고속

In [ ]:
n = int(input("미세먼지 농도를 입력하세요(단위 : microgram/m^3): "))

if n >= 76:
  print('매우 나쁨')
elif n >= 36:
  print('나쁨')
elif n >= 16:
  print('보통')
else:
  print('좋음')

미세먼지 농도를 입력하세요(단위 : microgram/m^3): 33
보통

In [ ]:
for i in range(5):
  print("Hello, Python!")

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
list(range(1, 101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
list(range(2, 101, 2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
list(range(1, 100, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
list(range(-99, 0))

[-99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1]

In [ ]:
name = input("이름을 입력하시오 : ")
height = int(input("키를 입력하시오(단위 cm) : "))

if height < 140:
  print(name, "님은 놀이기구를 탈 수 없습니다.")
else:
  print(name, "님은 놀이기구를 탈 수 있습니다.")

이름을 입력하시오 : 승주
키를 입력하시오(단위 cm) : 132
승주 님은 놀이기구를 탈 수 없습니다.

In [ ]:
age = int(input("나이를 입력하시오 : "))
height = int(input("키를 입력하시오(단위 cm) : "))

if age >= 19 and height >= 150:
  print("입장할 수 있습니다.")
else:
  print("입장할 수 없습니다.")

나이를 입력하시오 : 16
키를 입력하시오(단위 cm) : 162
입장할 수 없습니다.

In [ ]:
age = int(input("나이를 입력하시오 : "))

if age >= 20:
  print("Adult")
elif age >= 10:
  print("Youth")
else:
  print("Kid")

나이를 입력하시오 : 9
Kid

In [ ]:
num1, num2 = input("두 정수를 입력하시오 : ").split()

if int(num1) > int(num2):
  print(num2, num1)
else:
  print(num1, num2)

두 정수를 입력하시오 : 99 12
12 99

In [ ]:
s = 0

for i in range(1, 101):
  s = s + i

print("1에서 100까지의 합:", s)

1에서 100까지의 합: 5050

In [ ]:
s = 0

for i in range(2, 101, 2):
  s = s + i

print("1에서 100까지 정수 중에서 짝수의 합:", s)

1에서 100까지 정수 중에서 짝수의 합: 2550

In [ ]:
s = 0

for i in range(1, 100, 2):
  s = s + i

print("1에서 100까지 정수 중에서 홀수의 합:", s)

1에서 100까지 정수 중에서 홀수의 합: 2500

In [ ]:
num1, num2, num3 = input("세 정수를 입력하시오 : ").split()

if int(num1) > int(num2) > int(num3):
  print(num3, num2, num1)
elif int(num1) > int(num3) > int(num2):
  print(num2, num3, num1)
elif int(num2) > int(num1) > int(num3):
  print(num3, num1, num2)
elif int(num2) > int(num3) > int(num1):
  print(num1, num3, num2)
elif int(num3) > int(num2) > int(num1):
  print(num1, num2, num3)
else:
  print(num2, num1, num3)

세 정수를 입력하시오 : 99 12 4
4 12 99

In [ ]:
game_score = int(input("게임점수를 입력하시오 : "))

if game_score >= 1000:
  print("고수입니다.")
else:
  print("입문자입니다.")

게임점수를 입력하시오 : 990
입문자입니다.

In [ ]:
x, y = input("점의 좌표 x, y를 입력하시오 : ").split()
x = int(x)
y = int(y)

if x > 0:
  if y > 0:
    print("1사분면에 있음")
  elif y < 0:
    print("4사분면에 있음")
  else:
    None
elif x < 0:
  if y > 0:
    print("2사분면에 있음")
  elif y < 0:
    print("3사분면에 있음")
  else:
    None
else:
  None

점의 좌표 x, y를 입력하시오 : -2 -4
3사분면에 있음

In [ ]:
n = int(input("정수를 입력하시오 : "))

if n % 2 == 0:
  print(n, "는(은) 2(으)로 나누어집니다.")
else:
  print(n, "는(은) 2(으)로 나누어지지 않습니다.")

if n % 3 == 0:
  print(n, "는(은) 3(으)로 나누어집니다.")
else:
  print(n, "는(은) 3(으)로 나누어지지 않습니다.")

if n % 2 == 0 and n % 3 == 0:
  print(n, "는(은) 2와(과) 3 모두로 나누어집니다.")
else:
  print(n, "는(은) 2와(과) 3 모두로 나누어지지 않습니다.")

정수를 입력하시오 : 12
12 는(은) 2(으)로 나누어집니다.
12 는(은) 3(으)로 나누어집니다.
12 는(은) 2와(과) 3 모두로 나누어집니다.

In [ ]:
a, b = input("두 정수를 입력하시오 : ").split()
a = int(a)
b = int(b)

if a % b == 0:
  print(a, "는(은)", b, "의 배수입니다.")
else:
  print(a, "는(은)", b, "의 배수가 아닙니다.")

두 정수를 입력하시오 : 15 5
15 는(은) 5 의 배수입니다.

In [ ]:
x, y = input("점의 좌표 x, y를 입력하시오 : ").split()
x = int(x)
y = int(y)

if (x*x + y*y)**0.5 > 5:
  print("원의 외부에 있음")
else:
  print("원의 내부에 있음")

점의 좌표 x, y를 입력하시오 : 7 9
원의 외부에 있음

In [ ]:
alphabet = input("알파벳을 입력하시오 : ")

if alphabet in ['a', 'e', 'i', 'o', 'u']:
  print(alphabet, "(은)는 모음입니다.")
else:
  print(alphabet, "(은)는 자음입니다.")

알파벳을 입력하시오 : i
i (은)는 모음입니다.

In [ ]:
my_number = list(map(int, input("세 복권번호를 입력하시오 : ").split()))
count = 0

for i in range(3):
  if my_number[i] == 2 or my_number[i] == 3 or my_number[i] == 9:
    count += 1

if count == 3:
  print("상금 1억 원")
elif count == 2:
  print("상금 1천만 원")
elif count == 1:
  print("상금 1만 원")
else:
  print("다음 기회에...")

세 복권번호를 입력하시오 : 1 2 9
상금 1천만 원

In [ ]:
for i in range(1, 10):
  print(f"2 * {i} = {2*i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
print('Morning' < 'morning')
print('A' > 'B')

True
False

In [ ]:
i = 1

while i < 10:
  print(f"2 * {i} = {2*i}")
  i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
num = int(input("1에서 9까지의 수를 입력하세요: "))

if num < 1 or num > 9:
  num = int(input("1에서 9까지의 수를 다시 입력하세요: "))

if 1 <= num <= 9:
  for i in range(1, 10):
    print(f"{num} * {i} = {num*i}")

1에서 9까지의 수를 입력하세요: 11
1에서 9까지의 수를 다시 입력하세요: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
num = int(input("1에서 9까지의 수를 입력하세요: "))
i = 1

if num < 1 or num > 9:
  num = int(input("1에서 9까의 수를 다시 입력하세요: "))

if 1 <= num <= 9:
  while i < 10:
    print(f"{num} * {i} = {num*i}")
    i += 1

1에서 9까지의 수를 입력하세요: 11
1에서 9까의 수를 다시 입력하세요: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
for i in range(3):
  print('Python ')
  print('is ')
  print('FUN! ')

Python
is
FUN!
Python
is
FUN!
Python
is
FUN!

In [ ]:
for i in range(3):
  print('Python ')
  print('is ')
print('FUN! ')

Python
is
Python
is
Python
is
FUN!

In [ ]:
for i in range(3):
  print('Python ')
print('is ')
print('FUN! ')

Python
Python
Python
is
FUN!

In [ ]:
print("맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다. \n1) 햄버거\n2) 치킨\n3) 피자")
num = int(input("1에서 3까지의 메뉴를 선택하세요 : "))

while num < 1 or num > 3:
  num = int(input("메뉴를 다시 입력하세요: "))

if num == 1:
  print("햄버거를 선택하였습니다.")
elif num == 2:
  print("치킨을 선택하였습니다.")
else:
  print("피자를 선택하였습니다.")

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
1) 햄버거
2) 치킨
3) 피자
1에서 3까지의 메뉴를 선택하세요 : 5
메뉴를 다시 입력하세요: 6
메뉴를 다시 입력하세요: 0
메뉴를 다시 입력하세요: 2
치킨을 선택하였습니다.

In [ ]:
print("맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.\n- 햄버거(입력 b)\n- 치킨(입력 c)\n- 피자(입력 p)")
alphabet = input("메뉴를 선택하세요(알파벳 b, c, p 입력) : ")


while alphabet not in ['b', 'c', 'p']:
  alphabet = input("메뉴를 다시 입력하세요(알파벳 b, c, p 입력) : ")

if alphabet == 'b':
  print("햄버거를 선택하였습니다.")
elif alphabet == 'c':
  print("치킨을 선택하였습니다.")
else:
  print("피자를 선택하였습니다.")

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
- 햄버거(입력 b)
- 치킨(입력 c)
- 피자(입력 p)
메뉴를 선택하세요(알파벳 b, c, p 입력) : x
메뉴를 다시 입력하세요(알파벳 b, c, p 입력) : c
치킨을 선택하였습니다.

In [ ]:
num = int(input("숫자를 입력하세요 : "))
i = 1

for i in range(num+1):
    print(' ' * (num-i) + '*' * i)
    i += 1

숫자를 입력하세요 : 6

     *
    **
   ***
  ****
 *****
******

In [ ]:
n = 7
for i in range(n):
  st = ''
  for j in range(n-(i+1)):
    st = st + ' '
  print(st + '#')

      #
     #
    #
   #
  #
 #
#

In [ ]:
for n in range(2, 13):
  is_prime = True
  if n != 2 and n % 2 == 0:
    is_prime = False
  else:
    for num in range(3, n, 2):
      if n % num == 0:
        is_prime = False

  if is_prime:
    print(f"{n} : 소수")
  else:
    print(f"{n} : 합성수")

2 : 소수
3 : 소수
4 : 합성수
5 : 소수
6 : 합성수
7 : 소수
8 : 합성수
9 : 합성수
10 : 합성수
11 : 소수
12 : 합성수

In [ ]:
n = int(input('숫자를 입력하세요 : '))
result = 0

for i in range(1, n+1):
  result += i**2

print(f'결과는 {result}입니다.')

숫자를 입력하세요 : 5
결과는 55입니다.

In [ ]:
n = int(input('숫자를 입력하세요 : '))
result = 0

for i in range(1, n+1):
  result += (1 / i)**2

print(f'결과는 {result}입니다.')

숫자를 입력하세요 : 100
결과는 1.6349839001848923입니다.

In [ ]:
depth = 30
height = 7
day = 1

while height < depth:
  print(f"day : {day} 달팽이의 위치 : {height} 미터")
  day += 1
  height += 2

print(f"day : {day} 달팽이의 위치 : {height} 미터")
print("\n")
print(f"우물을 탈출하는 데 걸린 날은 {day}일 입니다.")

day : 1 달팽이의 위치 : 7 미터
day : 2 달팽이의 위치 : 9 미터
day : 3 달팽이의 위치 : 11 미터
day : 4 달팽이의 위치 : 13 미터
day : 5 달팽이의 위치 : 15 미터
day : 6 달팽이의 위치 : 17 미터
day : 7 달팽이의 위치 : 19 미터
day : 8 달팽이의 위치 : 21 미터
day : 9 달팽이의 위치 : 23 미터
day : 10 달팽이의 위치 : 25 미터
day : 11 달팽이의 위치 : 27 미터
day : 12 달팽이의 위치 : 29 미터
day : 13 달팽이의 위치 : 31 미터


우물을 탈출하는 데 걸린 날은 13일 입니다.

In [ ]:
n = int(input("n을 입력하시오 : "))
rows = n #행
cols = n #열

if i in range(rows // 2): #행(세로) n만큼 출력
  if j in range(cols): #열(가로) n만큼 출력
    print(i * cols + j + 1, end=" ")
    print()
    if k in range (cols * 2, cols, -1):
      print(i * cols + k + 1, end=" ")
      print()

n을 입력하시오 : 6
1