<a href="https://colab.research.google.com/github/zzessul/python/blob/main/%EC%BB%B4%ED%94%84_Chapter10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LAB 10-1-(1)
def sub(x,y):
    return x-y

print('200 - 100 =', sub(200,100))

200 - 100 = 100

In [ ]:
#LAB 10-1-(2)
sub = lambda x,y: x-y
print('200 - 100 =', sub(200,100))

200 - 100 = 100

In [ ]:
#LAB 10-2-(1)
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_list = []
for i in n_list:
    if i%2==0:
        even_list.append(i)
print("even_list =", even_list)

even_list = list(filter(lambda x: x%2==0, n_list))
print("even_list =", even_list)

even_list = [2, 4, 6, 8, 10]
even_list = [2, 4, 6, 8, 10]

In [ ]:
#LAB 10-2-(2)
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd_list = []
for i in n_list:
    if i%2==1:
        odd_list.append(i)
print("odd_list =", odd_list)

odd_list = list(filter(lambda x: x%2==1, n_list))
print("odd_list =", odd_list)

odd_list = [1, 3, 5, 7, 9]
odd_list = [1, 3, 5, 7, 9]

In [ ]:
#LAB 10-3-(1)
def to_upper(x):
    return x.upper()

a_list = ['a', 'b', 'c', 'd']
upper_a_list = list(map(to_upper, a_list))
print("upper_a_list =", upper_a_list)

upper_a_list = list(map(lambda x: x.upper(), a_list))
print("upper_a_list =", upper_a_list)

upper_a_list = ['A', 'B', 'C', 'D']
upper_a_list = ['A', 'B', 'C', 'D']

In [ ]:
#LAB 10-3-(2)
n_list = [10, 20, 30]

def twice(x):
  return x*2

def triple(x):
  return x*3

twice_n_list = list(map(twice, n_list))
triple_n_list = list(map(triple, n_list))
print("입력 값의 두 배 :", twice_n_list)
print("입력 값의 세 배 :", triple_n_list)

twice_n_list = list(map(lambda x: x*2, n_list))
triple_n_list = list(map(lambda x: x*3, n_list))
print("입력 값의 두 배 :", twice_n_list)
print("입력 값의 세 배 :", triple_n_list)

입력 값의 두 배 : [20, 40, 60]
입력 값의 세 배 : [30, 60, 90]
입력 값의 두 배 : [20, 40, 60]
입력 값의 세 배 : [30, 60, 90]

In [ ]:
#LAB 10-4-(1), (2)
from functools import reduce

n = reduce(lambda x, y: x + y, range(1, 101))
print("1에서 100까지의 합 :", n)

m = reduce(lambda x, y: x * y, range(1, 11))
print("10! :", m)

1에서 100까지의 합 : 5050
10! : 3628800

In [ ]:
#LAB 10-5-(1)
cubic = [i**3 for i in range(1, 11)]
print("cubic =", cubic)

cubic = [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#LAB 10-5-(2)
a = ['welcome', 'to', 'the', 'python', 'world']
first_a = [i[0] for i in a]

print("a =", a)
print("first_a =", first_a)

a = ['welcome', 'to', 'the', 'python', 'world']
first_a = ['w', 't', 't', 'p', 'w']

In [ ]:
#LAB 10-6-(1)
cubic = [i**3 for i in range(1, 11) if i**3 <= 500]
print("cubic =", cubic)

cubic = [1, 8, 27, 64, 125, 216, 343]

In [ ]:
#LAB 10-6-(2)
st = 'Hello 1234 Python'
num = [i for i in st if i.isdigit()]
print(num)

['1', '2', '3', '4']

In [ ]:
#LAB 10-8-(1)
txt = 'Welcome to Busan Metropolitan City.'
txt.split()

['Welcome', 'to', 'Busan', 'Metropolitan', 'City.']

In [ ]:
#LAB 10-8-(2)
greet = 'Hello,My name is DongMin,Good to see you again'
greet.split(',')

['Hello', 'My name is DongMin', 'Good to see you again']

In [ ]:
#LAB 10-8-(3)
fruits = 'Apple|Banana|Melon|Orange'
fruits = fruits.split('|')
print(fruits)

['Apple', 'Banana', 'Melon', 'Orange']

In [ ]:
#연습문제 10.1-(1)
f1 = lambda x : x * x
type(f1)

function

In [ ]:
#연습문제 10.1-(2)
def f2(x):
    return x * x
type(f2)

function

In [ ]:
#연습문제 10.2
f = lambda x, y: (z := 100, x + y + z)[1]
f(10, 20)

130

In [ ]:
#연습문제 10.3-(1)
persons = [('GilDong', 'Hong', 27), ('SunSin', 'Lee', 46), ('YuSin', 'Gim', 34)]
sorted(persons, key = lambda info: info[1])

[('YuSin', 'Gim', 34), ('GilDong', 'Hong', 27), ('SunSin', 'Lee', 46)]

In [ ]:
#연습문제 10.3-(2)
persons = [('GilDong', 'Hong', 27), ('SunSin', 'Lee', 46), ('YuSin', 'Gim', 34)]
sorted(persons, key = lambda info: -info[2])

[('SunSin', 'Lee', 46), ('YuSin', 'Gim', 34), ('GilDong', 'Hong', 27)]

In [ ]:
#연습문제 10.4-(1)
lyrics = 'Half of my heart is in Havana'.split()

for