<a href="https://colab.research.google.com/github/zzessul/python/blob/main/%EC%BB%B4%ED%94%84_Chapter4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_star():
  print('*' * 25)

def print_plus():
  print('+' * 25)

def print_hash():
  print('#' * 25)

print_hash()
print_star()
print_plus()
print_plus()
print_star()
print_hash()

#########################
*************************
+++++++++++++++++++++++++
+++++++++++++++++++++++++
*************************
#########################

In [ ]:
def print_hash(n):
  for _ in range(n):
    print(_, '#' * 25)

print_hash(6)

0 #########################
1 #########################
2 #########################
3 #########################
4 #########################
5 #########################

In [ ]:
def print_sub(a, b):
  result = a - b
  print(f"{a}과 {b}의 차는 {a-b}입니다.")

print_sub(10, 20)

10과 20의 차는 -10입니다.

In [ ]:
def print_mult(a, b):
  result = a * b
  print(f"{a}과 {b}의 곱은 {a * b}입니다.")

print_mult(10, 20)

10과 20의 곱은 200입니다.

In [ ]:
def print_root(a, b, c):
  r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  print('해는', r1, '또는', r2)

print_root(1, 4, -21)
print_root(1, -6, 8)

해는 3.0 또는 -7.0
해는 4.0 또는 2.0

In [ ]:
def print_area(width, height):
  print(f"밑변 {width}, 높이 {height}인 삼각형의 면적은 : {int(width * height / 2)}")

print_area(10, 20)

밑변 10, 높이 20인 삼각형의 면적은 : 100

In [ ]:
def circle_area_circum(radius):
  area = 3.14 * radius * radius
  circum = 2 * 3.14 * radius
  return area, circum

radius = 10
area, circum = circle_area_circum(radius)
print(f"반지름 {radius}인 원의 면적은 {area:.1f}, 원의 둘레는 {circum:.1f}")

반지름 10인 원의 면적은 314.0, 원의 둘레는 62.8

In [ ]:
def multiplies(n, m):
  tup = ()
  for i in range(1, m+1):
    tup = tup + (n * i, )
  return tup

r1, r2, r3, r4 = multiplies(3, 4)
print(r1, r2, r3, r4)
r1, r2, r3, r4, r5 = multiplies(2, 5)
print(r1, r2, r3, r4, r5)

3 6 9 12
2 4 6 8 10

In [ ]:
def sum_nums(*numbers):
  result = 0
  for n in numbers:
    result += n
  return result

tup1 = (10, 20, 30)
tup2 = (10, 20, 30, 40, 50)

print(f"{len(tup1)} 개의 인자 {tup1}\n합계 : {sum_nums(10, 20, 30)} , 평균 : {sum_nums(10, 20, 30) / len(tup1)}")
print(f"{len(tup2)} 개의 인자 {tup2}\n합계 : {sum_nums(10, 20, 30, 40, 50)} , 평균 : {sum_nums(10, 20, 30, 40, 50) / len(tup2)}")

3 개의 인자 (10, 20, 30)
합계 : 60 , 평균 : 20.0
5 개의 인자 (10, 20, 30, 40, 50)
합계 : 150 , 평균 : 30.0

In [ ]:
def min_nums(*numbers):
  minimum = 0
  for n in numbers:
    if minimum == 0:
      minimum = n
    elif minimum > n:
      minimum = n
    else:
      continue
  return minimum

print(f"최솟값은 {min_nums(20, 40, 50, 10)}")

최솟값은 10

In [ ]:
name = input('당신의 이름을 입력해주세요 : ')
age = input('나이를 입력해주세요 : ')
job = input('직업을 입력해주세요 : ')
place = input('사는 곳을 입력해주세요 : ')

print('당신의 이름은 {}, 나이는 {}살, 직업은 {}, 사는 곳은 {}입니다.'.format(name, age, job, place))
print('당신의 이름은', name, ', 나이는', age, '살, 직업은', job, ', 사는 곳은', place, '입니다.')

당신의 이름을 입력해주세요 : 김철수
나이를 입력해주세요 : 21
직업을 입력해주세요 : 학생
사는 곳을 입력해주세요 : 창원시
당신의 이름은 김철수, 나이는 21살, 직업은 학생, 사는 곳은 창원시입니다.
당신의 이름은 김철수 , 나이는 21 살, 직업은 학생 , 사는 곳은 창원시 입니다.

In [ ]:
'_'.join('ABCD')

'A_B_C_D'

In [ ]:
s1 = 'My favorite thing is monsters.'
s1.replace('monsters', 'cartoons')

'My favorite thing is cartoons.'

In [ ]:
def my_greet():
  print('환영합니다.')

my_greet()
my_greet()

환영합니다.
환영합니다.

In [ ]:
def square(n):
  return n*n

print('3의 제곱은 :', square(3))
print('4의 제곱은 :', square(4))

3의 제곱은 : 9
4의 제곱은 : 16

In [ ]:
def max2(m, n):
  if m > n:
    return m
  else:
    return n

def min2(m, n):
  if m < n:
    return m
  else:
    return n

print('100과 200중 큰 수는 :', max2(100, 200))
print('100과 200중 작은 수는 :', min2(100, 200))

100과 200중 큰 수는 : 200
100과 200중 작은 수는 : 100

In [ ]:
def mile2km(m):
  kilometer = m * 1.61
  return kilometer

for i in range(1, 6):
  print(f"{i} 마일 = {mile2km(i)} 킬로미터")

1 마일 = 1.61 킬로미터
2 마일 = 3.22 킬로미터
3 마일 = 4.83 킬로미터
4 마일 = 6.44 킬로미터
5 마일 = 8.05 킬로미터

In [ ]:
def inch2cm(inch):
  cm = inch * 2.54
  return cm

for i in range(1, 6):
  print(f"{i} 인치 = {inch2cm(i)} 센티미터")

1 인치 = 2.54 센티미터
2 인치 = 5.08 센티미터
3 인치 = 7.62 센티미터
4 인치 = 10.16 센티미터
5 인치 = 12.7 센티미터

In [ ]:
def cel2fah(cel):
  fah = (9/5) * cel + 32
  return fah

for i in range(10, 60, 10):
  print(f"섭씨 {i} 도 = 화씨 {cel2fah(i)} 도")

섭씨 10 도 = 화씨 50.0 도
섭씨 20 도 = 화씨 68.0 도
섭씨 30 도 = 화씨 86.0 도
섭씨 40 도 = 화씨 104.0 도
섭씨 50 도 = 화씨 122.0 도

In [ ]:
def mean3(a, b, c):
  nums_mean = (a + b + c) / 3
  return nums_mean

def max3(a, b, c):
  nums_max = max(a, b, c)
  return nums_max

def min3(a, b, c):
  nums_min = min(a, b, c)
  return nums_min

a, b, c = input("세 수를 입력하시오 : ").split()
a, b, c = int(a), int(b), int(c)

print(f"{a, b, c}의 평균값은 {mean3(a, b, c)}")
print(f"{a, b, c}의 최댓값은 {max3(a, b, c)}")
print(f"{a, b, c}의 최솟값은 {min3(a, b, c)}")

세 수를 입력하시오 : 10 30 20
(10, 30, 20)의 평균값은 20.0
(10, 30, 20)의 최댓값은 30
(10, 30, 20)의 최솟값은 10

In [ ]:
def mean6(a, b, c, d, e, f):
  nums_mean = (a + b + c + d + e + f) / 6
  return nums_mean

def max6(a, b, c, d, e, f):
  nums_max = max(a, b, c, d, e, f)
  return nums_max

def min6(a, b, c, d, e, f):
  nums_min = min(a, b, c, d, e, f)
  return nums_min

a, b, c, d, e, f = input("여섯 개의 수를 입력하시오 : ").split()
a, b, c, d, e, f = int(a), int(b), int(c), int(d), int(e), int(f)

print(f"평균값은 {mean6(a, b, c, d, e, f)}")
print(f"최댓값은 {max6(a, b, c, d, e, f)}")
print(f"최솟값은 {min6(a, b, c, d, e, f)}")

여섯 개의 수를 입력하시오 : 100 20 30 45 260 370
평균값은 137.5
최댓값은 370
최솟값은 20

In [ ]:
# 연습문제 4.9번

def mean_of_n(*nums):
  n_mean = sum(nums) / len(nums)
  return n_mean

def max_of_n(*nums):
  n_max = max(nums)
  return n_max

def min_of_n(*nums):
  n_min = min(nums)
  return n_min

number = []
n = (input('정수를 여러 개 입력하시오 : '))
n = int(n)
number.append(n)

print(f'평균값은 {mean_of_n(number)}\n최댓값은 {max_of_n(number)}\n최솟값은 {min_of_n(number)}')

정수를 여러 개 입력하시오 : 3 45 32 5 7 8 4 44 5 90 1

ValueError: invalid literal for int() with base 10: '3 45 32 5 7 8 4 44 5 90 1'

In [ ]:
# 연습문제 4.10번
def distance(x1, y1, x2, y2):
  distance = ((x1 - x2)**2 + (y1 - y2)**2)**0.5
  return distance

x1 = int(input("x1 좌표를 입력하시오 : "))
y1 = int(input("y1 좌표를 입력하시오 : "))
x2 = int(input("x2 좌표를 입력하시오 : "))
y2 = int(input("y2 좌표를 입력하시오 : "))
print(f"두 점의 거리: {distance(x1, y1, x2, y2)}")

x1 좌표를 입력하시오 : 0
y1 좌표를 입력하시오 : 0
x2 좌표를 입력하시오 : 3
y2 좌표를 입력하시오 : 4
두 점의 거리: 5.0

In [ ]:
# 연습문제 4.11번
def triangle_area(x1, y1, x2, y2):
  area = (x2 - x1) * (y2 - y1) / 2
  return area

x1 = int(input("x1 좌표를 입력하시오 : "))
y1 = int(input("y1 좌표를 입력하시오 : "))
x2 = int(input("x2 좌표를 입력하시오 : "))
y2 = int(input("y2 좌표를 입력하시오 : "))

print(f"직각삼각형의 면적은 : {triangle_area(x1, y1, x2, y2)}")

x1 좌표를 입력하시오 : 0
y1 좌표를 입력하시오 : 0
x2 좌표를 입력하시오 : 3
y2 좌표를 입력하시오 : 4
직각삼각형의 면적은 : 6.0

In [ ]:
# 연습문제 4.12번
def cal_area(width, height):
  area = width * height / 2
  return area

width = int(input("밑변을 입력하시오 : "))
height = int(input("높이를 입력하시오 : "))
print(f"삼각형의 면적 : {cal_area(width, height)}")

밑변을 입력하시오 : 20
높이를 입력하시오 : 15
삼각형의 면적 : 150.0

In [ ]:
# 연습문제 4.13번
def cube(s): # 정육면체의 부피
  cube_volume = s ** 3
  return cube_volume

def cuboid(w, h, l): # 직육면체의 부피
  cuboid_volume = l * w * h
  return cuboid_volume

def cone(r, h): # 원뿔의 부피
  cone_volume = (1/3) * 3.14 * (r**2) * h
  return cone_volume

def sphere(r): # 구의 부피
  sphere_volume = (4/3) * 3.14 * (r**3)
  return sphere_volume

def cylinder(r, h): # 원기둥의 부피
  cylinder_volume = 3.14 * (r**2) * h
  return cylinder_volume

print(cube(12))
print(cube(20))
print(cuboid(3, 5, 6))
print(cone(20, 10))
print(sphere(15))
print(cylinder(20, 10))

1728
8000
90
4186.666666666666
14130.0
12560.0

In [ ]:
# 연습문제 4.14번
def sort3(num1, num2, num3):
  a = []
  a.append(num1)
  a.append(num2)
  a.append(num3)
  a.sort()

  return a[0], a[1], a[2]

print("세 수를 입력하세요 : ")
num1 = int(input())
num2 = int(input())
num3 = int(input())
print(f"정렬된 리스트는 다음과 같습니다: {sort3(num1, num2, num3)}")

SyntaxError: invalid syntax (<ipython-input-16-7b4f39ff0ef7>, line 9)