<a href="https://colab.research.google.com/github/zzessul/python/blob/main/%EC%BB%B4%ED%94%84_Chapter5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LAB 5-1-(1)
even_list = list((2, 4, 6, 8, 10))
print("even_list =", even_list)

even_list = [2, 4, 6, 8, 10]

In [ ]:
#LAB 5-1-(2)
even_list = list(range(2, 11, 2))
print("even_list =", even_list)

even_list = [2, 4, 6, 8, 10]

In [ ]:
#LAB 5-1-(3)
nations = ['Korea', 'China', 'India', 'Nepal']
print("nations =", nations)

nations = ['Korea', 'China', 'India', 'Nepal']

In [ ]:
#LAB 5-1-(4)
friends = ['길동', '철수', '은지', '지은', '영민']
print("friends =", friends)

friends = ['길동', '철수', '은지', '지은', '영민']

In [ ]:
#LAB 5-1-(5)
s = 'XYZ'
string = []
for i in s:
    string.append(i)

print("string =", string)

string = ['X', 'Y', 'Z']

In [ ]:
#LAB 5-2-(1), (2), (3)
prime_list = [2, 3, 5, 7]
print(f"prime_list의 첫 원소 : {prime_list[0]}")
print(f"prime_list의 마지막 원소 : {prime_list[3]}")
print(f"prime_list의 마지막 원소 : {prime_list[-1]}")

prime_list의 첫 원소 : 2
prime_list의 마지막 원소 : 7
prime_list의 마지막 원소 : 7

In [ ]:
#LAB 5-2-(4)
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(f"nations의 첫 원소 : {nations[0]}")
print(f"nations의 마지막 원소 : {nations[-1]}")
print(f"nations의 마지막 원소 : {nations[len(nations)-1]}")

nations의 첫 원소 : Korea
nations의 마지막 원소 : Malaysia
nations의 마지막 원소 : Malaysia

In [ ]:
#LAB 5-3-(1), (2)
prime_list = [2, 3, 5, 7]
print("소수 목록 :", prime_list)
prime_list.append(11)
print("추가 후 소수 목록 :", prime_list)

print("삭제 전 소수 목록 : ", prime_list)
prime_list.remove(3)
print("삭제 후 소수 목록 : ", prime_list)

소수 목록 : [2, 3, 5, 7]
추가 후 소수 목록 : [2, 3, 5, 7, 11]
삭제 전 소수 목록 :  [2, 3, 5, 7, 11]
삭제 후 소수 목록 :  [2, 5, 7, 11]

In [ ]:
#LAB 5-3-(3), (4)
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("국가 목록 :", nations)
nations.append('Nepal')
print("추가 후 국가 목록 :", nations)

if 'Japan' in nations:
    print("Japan 는(은) 국가 목록에 있습니다.")
else:
    print("Japan 는(은) 국가 목록에 없습니다.")

if 'Russia' in nations:
    print("Russia 는(은) 국가 목록에 있습니다.")
else:
    print("Russia 는(은) 국가 목록에 없습니다.")

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']
Japan 는(은) 국가 목록에 없습니다.
Russia 는(은) 국가 목록에 있습니다.

In [ ]:
#LAB 5-4-(1)
prime_list = [2, 3, 5, 7]
print("1에서 10까지의 소수 :", prime_list)
print(f"최솟값 : {min(prime_list)}")
print(f"최댓값 : {max(prime_list)}")
print(f"합계 : {sum(prime_list)}")
print(f"평균 : {sum(prime_list)/len(prime_list)}")

1에서 10까지의 소수 : [2, 3, 5, 7]
최솟값 : 2
최댓값 : 7
합계 : 17
평균 : 4.25

In [ ]:
#LAB 5-4-(2)
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("국가 목록 :", nations)
print(f"사전에 가장 먼저 나오는 나라 : {min(nations)}")
print(f"사전에 가장 뒤에 나오는 나라 : {max(nations)}")

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 : China
사전에 가장 뒤에 나오는 나라 : Russia

In [ ]:
#LAB 5-5-(1)
a1 = [1, 2, 3]
b1 = [10, 20, 30]
a1.append(b1)
print(a1)

a2 = [1, 2, 3]
b2 = [10, 20, 30]
a2.extend(b2)
print(a2)

[1, 2, 3, [10, 20, 30]]
[1, 2, 3, 10, 20, 30]

In [ ]:
#LAB 5-5-(2), (3), (4), (5)
nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("nlist =", nlist)

nlist.insert(0, 0)
print("nlist =", nlist)

nlist.reverse()
print("nlist =", nlist)

print(f"마지막 원소 = {nlist.pop()}")
print("nlist =", nlist)

nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
마지막 원소 = 0
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#LAB 5-6-(1)
n = int(input("반복할 정수를 입력하시오 : "))

lst = [1, 2, 3]
print(lst * n)

반복할 정수를 입력하시오 : 4
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#LAB 5-7-(1), (2)
n_list = []
for i in range(15):
    n_list.append(i)
print("n_list =", n_list)

print("s_list1 =", n_list[0:5])
print("s_list2 =", n_list[5:11])
print("s_list3 =", n_list[11:15])
print("s_list4 =", n_list[2:11:2])
print("s_list5 =", n_list[10:5:-1])
print("s_list6 =", n_list[10:1:-2])

n_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
s_list1 = [0, 1, 2, 3, 4]
s_list2 = [5, 6, 7, 8, 9, 10]
s_list3 = [11, 12, 13, 14]
s_list4 = [2, 4, 6, 8, 10]
s_list5 = [10, 9, 8, 7, 6]
s_list6 = [10, 8, 6, 4, 2]

In [ ]:
#연습문제 5.1
list_ex = [10, 20, 30, 40, 50, 60, 70]
high = 5
low = 3

print(list_ex[low])
print(list_ex[low + 2])
print(list_ex[high - low])
print(list_ex[low - high])
print(list_ex[-1])
print(list_ex[-low])
print(list_ex[2 * 3])
print(list_ex[2] * 3)
print(list_ex[5 % 4])
print(len(list_ex))

40
60
30
60
70
50
70
90
20
7

In [ ]:
#연습문제 5.2
spell = ['s', 'w', 'e', 'e', 't']
print(spell)

spell[3] = 'a'
print(spell)

spell[4] = 'r'
print(spell)

print(spell *2)

['s', 'w', 'e', 'e', 't']
['s', 'w', 'e', 'a', 't']
['s', 'w', 'e', 'a', 'r']
['s', 'w', 'e', 'a', 'r', 's', 'w', 'e', 'a', 'r']

In [ ]:
#연습문제 5.3
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]

for i in list1:
  for j in list2:
    print(f"{i} * {j} = {i * j}")

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [ ]:
#연습문제 5.4
a = [2, 3, 4, 5, 6]
print("a =", a)

rev_a = []
for i in range(len(a)):
  rev_a.append(a.pop())

print("rev_a =", rev_a)

a = [2, 3, 4, 5, 6]
rev_a = [6, 5, 4, 3, 2]

In [ ]:
#연습문제 5.5
list1 = ['I like', 'I love']
list2 = ['pancakes.', 'kiwi juice.', 'espresso.']

for i in list1:
  for j in list2:
    print(i, j)

I like pancakes.
I like kiwi juice.
I like espresso.
I love pancakes.
I love kiwi juice.
I love espresso.

In [ ]:
#연습문제 5.7
n_list = [10, 20, 30, 50, 60]
sum = 0

for i in n_list:
  sum += i

print("리스트 원소들 :", n_list)
print("리스트 원소들의 합 :", sum)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 합 : 170

In [ ]:
#연습문제 5.8
n_list = [10, 20, 30, 50, 60]
multiply = 1

for i in n_list:
  multiply *= i

print("리스트 원소들 :", n_list)
print("리스트 원소들의 곱 :", multiply)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 곱 : 18000000

In [ ]:
#연습문제 5.9
n_list = [10, 20, 30, 50, 60]
max = n_list[0]

for i in n_list:
  if i > max:
    max = i

print("리스트 원소들 :", n_list)
print("리스트 원소들 중 최댓값 :", max)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들 중 최댓값 : 60

In [ ]:
#연습문제 5.10
n_list = [10, 20, 30, 50, 60]
min = n_list[0]

for i in n_list:
  if i < min:
    min = i

print("리스트 원소들 :", n_list)
print("리스트 원소들 중 최솟값 :", min)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들 중 최솟값 : 10

In [ ]:
#연습문제 5.11
number = input("5개의 수를 입력하세요: ").split()

n_list = []
for i in number:
  i = int(i)
  n_list.append(i)

print("합 :", sum(n_list))
print("평균 :", sum(n_list)/len(n_list))
print("최댓값:", max(n_list))
print("최솟값:", min(n_list))

5개의 수를 입력하세요: 45 67 20 34 2
합 : 168
평균 : 33.6
최댓값: 67
최솟값: 2

In [ ]:
#연습문제 5.12
n = int(input("n을 입력하세요: "))

number = input(f"{n}개의 수를 입력하세요: ").split()

n_list = []
for i in number:
  i = int(i)
  n_list.append(i)

print("합 :", sum(n_list))
print("평균 :", sum(n_list)/len(n_list))
print("최댓값:", max(n_list))
print("최솟값:", min(n_list))

n을 입력하세요: 10
10개의 수를 입력하세요: 34 56 7 9 23 10 2 30 3 28
합 : 202
평균 : 20.2
최댓값: 56
최솟값: 2

In [ ]:
#연습문제 5.13
number = input("10개의 수를 입력하세요: ").split()

n_list = []
for i in number:
  i = int(i)
  n_list.append(i)

print("합 :", sum(n_list))
print("평균 :", sum(n_list)/len(n_list))
print(f"표준편차 :{(sum([(i - sum(n_list)/len(n_list))**2 for i in n_list])/(len(n_list)))**0.5 : 4.2f}")

10개의 수를 입력하세요: 45 67 20 34 2 100 23 45 67 89
합 : 492
평균 : 49.2
표준편차 : 29.72

In [ ]:
#연습문제 5.16
s = 'Birthday'

print(s[:5])
print(s[5:])
print(s[1:-1])
print(s[::-1])
print('day' in s)
print('birth' in s)
print('Birth' in s)
print('Birth' not in s)

Birth
day
irthda
yadhtriB
True
False
True
False

In [ ]:
#연습문제 5.17-(1)
animals = ['dog', 'cat', 'tiger', 'lion']
print("animals =", animals)

#연습문제 5.17-(2)
animals.remove('dog')
animals.append('dog')
print("animals =", animals)

animals = ['dog', 'cat', 'tiger', 'lion']
animals = ['cat', 'tiger', 'lion', 'dog']

In [ ]:
#연습문제 5.17-(3)
animals = ['dog', 'cat', 'tiger', 'lion']
print("animals =", animals)

for i in animals:
  print(f"I love {i}.")

animals = ['dog', 'cat', 'tiger', 'lion']
I love dog.
I love cat.
I love tiger.
I love lion.

In [ ]:
#연습문제 5.18-(1), (2)
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
min = s_list[0]
max = s_list[0]

for i in s_list:
  if len(min) > len(i):
    min = i

for i in s_list:
  if len(max) < len(i):
    max = i

print("가장 길이가 짧은 문자열 :", min)
print("가장 길이가 긴 문자열 :", max)

가장 길이가 짧은 문자열 : abc
가장 길이가 긴 문자열 : bcdefg

In [ ]:
#연습문제 5.18-(3)
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
s_list.sort(key=len)
min = s_list[0]
lst = []

for i in s_list:
  if len(min) == len(i):
    lst.append(i)

print("가장 길이가 짧은 문자열 : ", end = '')
for i in lst[:len(lst)-1]:
  print(f"'{i}'", end = ', ')
print(f"'{lst[-1]}'")

가장 길이가 짧은 문자열 : 'abc', 'bcd', 'opq'

In [ ]:
#연습문제 5.19
s_list = ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']
new_s_list = []

for i in s_list:
  if i not in new_s_list:
    new_s_list.append(i)

print("s_list =", s_list)
print("new_s_list =", new_s_list)

s_list = ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']
new_s_list = ['abc', 'bcd', 'abba', 'cddc', 'opq']

In [ ]:
#연습문제 5.20